@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #010127;
}
.parag{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: rgb(39, 245, 39);
    font-family: 'Black Ops One', cursive;
    letter-spacing: 2px;


}

.mostrador{
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Black Ops One', cursive;
    cursor: pointer;
    background: transparent;
}

span{
    font-size: 45px;
    color: rgb(39, 245, 39);
}
.buttons{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
button{
    cursor: pointer;
    padding: 3px;
    border-radius: 7px;
    border: 1px solid  rgb(39, 245, 39);
    color: rgb(39, 245, 39);
    background-color: transparent;
}
button:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    border: 1px solid rgb(122, 118, 118);
}
.div1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#millisecond{
    display: flex;
    justify-content: row;
    width: 45px;
}
